<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.TipsMapper">
  <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.Tips">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content, create_time, last_modified_time
  </sql>

  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from th_newbee_mall_tip
  </select>
  <insert id="insert" parameterType="ltd.newbee.mall.entity.Tips">
    insert into th_newbee_mall_tip (id, content, create_time, last_modified_time)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="ltd.newbee.mall.entity.Tips">
    update th_newbee_mall_tip
    set content = #{content,jdbcType=VARCHAR},
      last_modified_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>